.footer-container {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em 14em;
  padding-bottom: 0;
  border-top: 1px solid #e6e6e6;
  background: #f3f5f7;
  bottom: 0;
  position: relative;
}

.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  border-bottom: 1px solid #e6e6e6;
  padding: 0 10px;
  margin: 10px 10px;
}

.left-top {
  display: flex;
}

.left-top p {
  font-size: 1.2em;
  font-weight: 600;
  color: #344767;
}

.right-top {
  display: flex;
  position: relative;
  align-items: flex-end;
}

.social-icon {
  color: #344767;
  margin-bottom: 65px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.social-icon:not(:last-of-type) {
  margin-right: 10px;
}

.social-icon:hover {
  color: #8a8a8a;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-top: 1px solid #e6e6e6;
  padding: 0 10px;
  margin: 10px 10px;
}

.left-bottom {
  display: flex;
}

.left-bottom p {
  color: #8a8a8a;
  font-size: 1.2em;
  margin: 0;
  margin-left: 10px;
  display: flex;
  margin-top: 5px;
  align-items: flex-start;
}

.content-container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  align-content: space-between;
  justify-content: flex-start;
  margin: 20px;
}

.left-content {
  display: flex;
  flex-direction: column;
}

.left-content h2 {
  margin-right: 28px;
  margin-bottom: 10px;
  color: #344767;
  font-weight: 600;
  font-size: 20px;
}

.footer-link {
  text-decoration: none;
  color: #8a8a8a;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  margin-bottom: 5px;
}

.footer-link:hover {
  color: #5776aa;
  text-decoration: none;
}

.mid-content {
  flex: 1;
}

.right-content {
  flex: 1;
}

.right-content h2 {
  margin-bottom: 10px;
  color: #344767;
  font-weight: 600;
  font-size: 20px;
  text-align: left;
}

.footer-form-wrap input {
  padding: 12px 12px;
  outline: 1px solid #344767;
  width: 500px;
  height: 45px;
  border-radius: 5px;
  border: none;
  margin-right: 1rem;
}

.footer-form-wrap input:focus {
  border: 1px solid #cb0c9f;
  border-color: #cb0c9f;
  box-shadow: none;
}

@media screen and (max-width: 768px) {
  .footer-container {
    padding: 2em 12px;
    margin-top: 5rem;
  }

  .top-container {
    padding: 0;
  }

  .social-icon {
    font-size: 18px;
  }

  .left-bottom p {
    font-size: 8px;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .right-content {
    width: 80%;
    margin-top: 40px;
  }

  .footer-form-wrap {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
  }

  .footer-form-wrap input {
    width: 100%;
    margin-bottom: 1rem;
    margin-right: 0;
  }
}
